html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
nav{
    position: fixed;
    display: flex;
    top: 0;
    z-index: 999;
    min-height: 5vh;
    justify-content: space-around;
    background-color: transparent;
    justify-items: space-around;
}
.section{
    position: relative;
    
}
.bg{
    background-color: #f58c57;
    width: 2000px;
    height: 70%;
    top: 15%;
    margin-left: -300vw;
    padding-left: 300vw;
    margin-right: -300vw;
    padding-right: 300vw;
    position: absolute;
}
#logoTag{
    position: absolute;
    left: 41%;
    top:77%;
}
#sec1content{
    max-width: 600px;
}

.sectionContainer{
    position: absolute;
    
}
nav ul{
    display: flex;
    justify-content: space-around;
    width: 30%;
} 
li{
    list-style-type: none;
}
.nav-link{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
#page1{
   z-index: 1;
   background-image: url(./img/bg.jpeg);
   background-color: aliceblue;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
#scroll{
    position: relative; 
    top: 275px;
    opacity: 0;
}
#s2{
    top: 50%;
    right: 50%;
}
#s3{
    top: 20%;
    left: 50px;
}
.navbar-brand{
    color: #f58c57;
}
#s4{
    top: 20%;
    left: 30%;
}
#s4 p{
    max-width: 700px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration-color: none;
    text-decoration: none;
}
#phoneImg{
    position: relative;
    top: 20%;
    opacity: 0.4;
}
#controllerImg{
    position: relative;
    left: 60%;
    top: 30%;
}
input[type=email]{
    border: none;
    border-bottom: 2px solid #7e7e7e;
}
input[type=text]{
    border: none;
    border-bottom: 2px solid #7e7e7e;
}
input[type=email]:focus{
    border: none;
}
@media screen and (max-width: 1024px){
    #logo{
        width: 30%;
    }
    #page1{
        background-image: none;
    }
    #logoTag{
        top: 78%;
        font-size: 0.6em;
    }
    #scroll{
        font-size: 0.6em;
    }
    #logo{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    #logo{
        width: 100%;
    }
    #page1{
        background-image: none;
    }
    #logoTag{
        top: 75%;
        font-size: 0.5em;
    }
    #scroll{
        font-size: 0.3em;
    }
}
@media screen and (max-width: 540px){
    #logo{
        width: 100%;
    }
    #page1{
        background-image: none;
    }
    #logosvg{
        width: 35%;
    }
    #logoTag{
        top: 75%;
        left: 37%;
        font-size: 0.5em;
    }
    #scroll{
        font-size: 0.3em;
    }
}